@model BusBoard.Web.ViewModels.BusInfo
@{
	ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
	<h3>Bus arrivals near @Model.PostCode</h3>

	<ol>
		@foreach (var busPrediction in Model.BusPredictions)
		{
			<li>Bus @busPrediction.lineName is arriving at @busPrediction.stationName @busPrediction.GetNiceTime().</li>
		}
	</ol>
</div>
